extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Maya Liberman

        p.lead.text-light
          | Junior Web Developer

        .portfolio-bio
          p
            | On the past months I am studying Web development by myself. I love to learn and explore new technologies. The journey of coding is fascinatig to me.  I love front-end development and have some knowlege with back-end.
            | As a former musician I can relate to good coding as a piece of art. As music is a journey of inifinite exploratioin,  coding is a never ending process for new discoveris.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills and Languages

        ul
          li HTML
          li CSS
          li JavaScript
          li JQuery
          li OOP
          li AJAX
          li HTTP
          li API
          li Node.js 
          li Express
          li React

        h6 Contact Info

        ul
          li Phone: 
           a(href='tel:972548364366') 972-54-8364366
          li Email: 
            a(href='mailto:mayaliberman1@gmail.com?subject=Mail from Maya Liberman Website') mayaliberman1@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/maya-liberman-b3687322/'  target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/mayaliberman'  target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/mayaliberman1'  target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  