extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Oh...No... 
        h2 You got to the Wrong page!

        p.lead.text-light
          
        h5=  `What you looked for is ${error.message} - Status: ${error.status}`
        .portfolio-bio
         p Please press on the "back" button at the top of this page
         p= `${error.stack}`
         
            