body {
  animation: pulse 3s ;
}

@keyframes pulse {
  0% {
    background-color: rgb(241, 216, 245);
  }
  100% {
    background-color: #ebedee;
  }
}

h1,
h2,
h3,
h4,
h5,
li,
p {
  font-family: 'Roboto', sans-serif;
  color: #200f21;
}

h5 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  line-height: 2.5em;
  font-size: 2rem;
}

h6 {
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  line-height: 2;
  color: #61045f;
  font-weight: bold;
  border-bottom: 3px solid #666;
}

p {
  font-size: 17px;
  color: #5a3d5c;
}

.round {
  border-radius: 5px;
}

.text-light {
  color: #666;
}

.button {
  background-image: linear-gradient(to right, #aa076b 0%, #61045f 100%);
  border-radius: 5px;
}

a {
  color: #f638dc;
}

a:hover {
  color: #f638dc;
}

.image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me {
  padding: 20px;
  background: rgb(68, 2, 67);
  color: #fff;
  box-shadow: none !important;
}

.portfolio-me p {
  font-size: 14px;
  color: #eee;
}

.portfolio-me a {
  font-weight: 600;
  color: #eee;
  font-size: 13px;
  letter-spacing: 2.5px;
}

.portfolio-me a:hover {
  color: #999;
}

.portfolio-breadcrumb {
  margin: 0;
  padding: 13px;
  border-bottom: 1px solid #eaeaea;
}

.portfolio-breadcrumb a {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;

}

.portfolio-intro {
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index .thumbnail {
  margin: 0;
  padding: 0;
}

.portfolio-index a {
  color: rgb(68, 2, 67);
}

.portfolio-index .cell {
  margin-bottom: 15px;
}

.portfolio-index .cell h5 {
  letter-spacing: 1px;
  color: rgb(68, 2, 67);
}

.portfolio-meta {
  padding-left: 20px;
}

.portfolio-meta .button {
  margin-bottom: 5px;
}

.portfolio-project p {
  border: none;
}

.portfolio-project li {
  font-size: 14px;
  color: #444;
}

.portfolio-bio {
  line-height: 25px;
}

.title-bar {
  background-color: rgb(68, 2, 67);
}

#my-name {
  color: #eaeaea;
  font-size: 1.3rem;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

